build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
CTestTestfile.cmake
Testing/
cmake_install.cmake
Makefile
*.o
*.a
*.so
*.cubin
*.fatbin
*.ptx
*.ii
*.ncu-rep
*.nsys-rep
frames/
out/
*.pgm
*.ppm
!resources/*.pgm
!resources/*.ppm
